h1{
    font-family: Lilita;
     font-size: 80px;
    color: #d26865;
    margin: 30px 0;

    @media (max-width: 768px){
        font-size: 50px;
    }
}

fa-icon{
    color: #d26865;
    vertical-align: super;
}

span {
    font-family: Lilita;
    font-size: 30px;
    color: #3d3836;
}